<p class="category">
  <%= @product.category_name %>
</p>


<div class="product-header">
  <h1 class="product-heading"><%= @product.title %></h1>
  <% if @product.on_sale? %>
    <div class="sale-tag">SALE</div>
  <% end %>
</div>

<div class="creator">Created by: <%= @product.user_full_name.titleize %></div>

<p>
  <b>Description:</b><br>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b><br/>
  $<%= sprintf("%0.02f", @product.price) %>
</p>

<p>
  <b>Sale Price:</b><br/>
  $<%= sprintf("%0.02f", @product.sale_price) %>
</p>

<% if belongs_to_current_user?(@product) %>
  <%= link_to "Edit Product", edit_product_path(@product) %> |
  <%= link_to "Delete Product", product_path(@product), method: :delete, data: {confirm: "Are you sure you want to delete: #{@product.title}?"} %>
<% end %>

<hr>

    <div class="review-display">
      <% if @product.reviews %>
        <h3>Reviews</h3>
        <% if @product.reviews.empty? %>
          There are no reviews.
        <% else %>
          <% @product.reviews.each do |review| %>

            <%= review.show_stars(review.stars).html_safe %> - <%= review.body %> <br><small>Created by: <%= review.user_full_name.titleize %> | Created on: <%= review.created_at.strftime("%F") %></small><br>

            <% if belongs_to_current_user?(review) %>
              <%= link_to "Delete", product_review_path(@product, review),
                                  data: { confirm: "Are you sure?" },
                                  method: :delete %>
            <% end %>

            <hr>
          <% end %>
        <% end %>
      <% end %>
    </div>

<hr>

  <div class="row">

    <div class="review-form">
      <div class="col-md-3">
        <h4>Write a Review</h4>
      <%= @review.errors.full_messages.join(", ") %>
      </div>

      <%= form_for [@product, @review] do |f| %>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <%= f.label "Rating" %>
          <input id="review_stars" class="rating rating-sm" data-min="0" data-max="5" data-step="1" data-size="xs" data-show-caption="false" data-show-clear="false" name="review[stars]">
        </div>

        <div class="col-md-5">
          <div>
            <%= f.label "Message" %>
            <%= f.text_area :body %>
          </div>

          <div>
            <%= f.submit %>
          </div>
      </div>

      <% end %>
    </div>

  </div>
