<p class="category">
  <%= @product.category_name %>
</p>

<div id="favourite">
  <%= render "/favourites/favourite", product: @product %>
</div>


<div class="product-header">
  <h1 class="product-heading"><%= @product.title %></h1>
  <% if @product.on_sale? %>
    <div class="sale-tag">SALE</div>
  <% end %>
</div>

<div class="creator">Created by: <%= @product.user_full_name.titleize %></div>

<p>
  <b>Favourited:</b> <%= @product.favourites.count %> time(s)
</p>

<p>
  <b>Description:</b><br>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b><br/>
  $<%= sprintf("%0.02f", @product.price) %>
</p>

<p>
  <b>Sale Price:</b><br/>
  $<%= sprintf("%0.02f", @product.sale_price) %>
</p>

<% if belongs_to_current_user?(@product) %>
  <%= link_to "Edit Product", edit_product_path(@product) %> |
  <%= link_to "Delete Product", product_path(@product), method: :delete, data: {confirm: "Are you sure you want to delete: #{@product.title}?"} %> |
<% end %>

<hr>

  <% if @product.reviews %>
    <h3>Reviews</h3>

      <% if @product.reviews.empty? %>
        There are no reviews.
      <% else %>
        <div id="review-list">
          <% @product.reviews.each do |review| %>
            <%= render "/reviews/review", review: review %>
          <% end %>
        </div>
      <% end %>

  <% end %>

<hr>

    <h4>Write a Review</h4>

    <div id="review-form">
      <%= render "/reviews/form", review: @review %>
    </div>

</div>
