<!DOCTYPE html>
<html>
<head>
  <title>Amazon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <div class="container">
    <%= link_to "Home", products_path %> |
    <% if current_user %>
      <%= link_to "New Product", new_product_path %>
    <% end %>

    <div class="user-needs">
      <% if current_user %>
        Hello, <%= current_user.full_name %> |
        <%= link_to "Profile", user_path(current_user) %> |
        <%= link_to "Log Out", sessions_path, method: :delete,
                               data: { confirm: "Are you sure you want to log out?" } %>
      <% else  %>
        <%= link_to "Sign Up", new_user_path %> |
        <%= link_to "Login", new_session_path %>
      <% end %>
    </div>

    <hr>
      <% if notice %>
        <div class="alert alert-success"><%= notice%></div>
      <% elsif alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
    <hr>

    <%= yield %>

  </div>

</body>
</html>
